/* reset */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/*header*/
.page-header{
    background-color: lightblue;
    width: auto;
    height: 180px; 
    background-image: url(./img/pattern.png)
}

.logo-pic{ 
    width: 250px;
    height: 250px;
}

/*main*/
.titolo{
    margin-bottom:  0%;
}

.sottotitolo{
    color: rgb(60, 206, 255);
    margin: 0%;
}

.data{
    color: rgb(60, 206, 255);
    margin: 0%;
}

.tim1{
    width: 500px;
    height: 350px;
}

.tim2{ 
    width: 500px;
    height: 350px;
}

.foto{
    margin-bottom: 0px;
}

.paragrafo-foto1{
    margin: 0%;
}

.paragrafo-foto2{
    margin-top: 0px;
}

.lista{
    margin-left: -25px;    
}

.riga1tabella{
    color: white ;
    background-color: rgb(86, 86, 226);
    text-align: left;
}

/*footer*/
.titolo-footer{
    color: rgb(134, 134, 134);
}

.foto-footer{
    margin-bottom: 15px;
}
.descrizione-foto1{
    color: rgb(32, 31, 31);
    
    
    
}
.descrizione-foto2{
    color: rgb(19, 18, 18);
    
}