/* reset */
img {
    max-width: 100%;
}

/*header*/
.logo-pic{ 
    width: 100pox;
    height: 100px;
}

.page-header{
    background-image: url(pattern.png) ;
    background-position: 100px;
}
.main-content{
    
}
.tim1{
    width: 150px;
    height: 150px;
}
.tim2{ 
    width: 150px;
    height: 150px;

}