/* reset */
img {
    max-width: 100%;
}

/*header*/

.page-header{
    background-color: lightblue;
    width: auto;
    height: 180px; 
    background-image: url(./img/pattern.png)
}

.logo-pic{ 
    width: 200px;
    height: 200px;
}

.tim1{
    width: 150px;
    height: 150px;
}
.tim2{ 
    width: 150px;
    height: 150px;

}